.navibar{
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color:#e0dbf1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px;
  box-sizing: border-box;

}

.logo{
  width: 60%; /* adjust this based on your preference */
  height: auto; /* keep aspect ratio */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; /* adjust this value to increase/decrease the space */
  align-self: auto;
}

.step{
  align-self: center;
  margin-bottom: 80px
}


.header {

  
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px; /* 增加内边距 */
  border-top-right-radius: 40px; /* 设置右上角圆角 */
  border-bottom-right-radius: 40px; /* 设置右下角圆角 */
  align-self: flex-start; /* 使元素紧贴左侧 */
  width: 70%; /* 设置固定长度 */
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 设置边框阴影 */

}

.header-icon {
  margin-right: 10px;
}

.header-text {
  flex-grow: 1;

}

.header-arrow {
  margin-left: 10px;
}

.content-dropdown {
  display: none; /* 默认情况下隐藏内容 */
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  align-self: flex-start; /* 使元素紧贴左侧 */
  width: 70%; /* 设置固定长度 */
  
}

.content-dropdown.show {
  display:contents; /* 当添加 show 类时显示内容 */
  /* align-items: center; */
}

.image-list {
  /* display: flex; */
  margin-left: 30px;
  flex-direction: column;
  align-items: center;
}

.image-item {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.image-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.add-button-icon {
  margin-left: 85px;
}


.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}